.menu-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  align-items: center;
  padding: 0;
  align-self: center;

}

.menu-options {
  max-width: 50%;
  min-width: 19em;
}

.menu-league {
  display: flex;
  flex-wrap: nowrap;
  max-width: 50%;
  flex-flow: nowrap;
  padding-left: 3em;
  border: 1px;
  border-left: 1px;
}