.pant-dark {
    box-sizing: border-box;
    border-width: 1px;
}

.pant-colours-dark {
    color: rgba(255, 255, 255, 0.85);
    background-color: #141414;
    border-color: rgba(253, 253, 253, 0.12);
}


.pant-light {
    box-sizing: border-box;
    border-width: 1px;
}

.pant-colours-light {
    color: rgba(0, 0, 0, 0.88);
    background-color: #ffffff;
    border-color: rgba(5, 5, 5, 0.06);
}


.on-top {
    border-style: solid;
    border-left-width: "0px";
    border-right-width: "0px";
    border-top-width: "0px";
}

.on-bottom {
    border-style: solid;
    border-left-width: "0px";
    border-right-width: "0px";
    border-bottom-width: "0px";
}