/* GAME STAGE */
.game-stage-radio > label {
    width: 4em;
}

/* COMPARISON */
.comparison-radio > label {
    width: 10em;
} 

/* FLAT */
.flat-radio > label {
    width: 5em;
} 

/* AGGREGATION */
.aggregation-radio > label {
    width: 6.5em;
} 

/* CROSS AGGREGATION */
.cross-aggregation-radio > label {
    width: 12em;
} 

/* CROSS POSITION */
.position-radio > label {
    width: 5em;
} 


/* ALL */
.settings-radio {
    text-align: center;
}